body {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFD9;
    color: #000;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

form input[type="text"],
form input[type="datetime-local"] {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="datetime-local"]:focus {
    border-color: #007bff;
}

form button {
    padding: 12px;
    font-size: 16px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #003d80;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

ul li:hover {
    transform: scale(1.02);
}

ul li span {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 16px;
}

ul li button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

ul li button:hover {
    /* background-color: #e0e0e0; */
    background-color: #ff0000;
}

ul li input[type="checkbox"] {
    transform: scale(1.4);
    margin-right: 10px;
}

ul li input[type="text"],
ul li input[type="datetime-local"] {
    font-size: 14px;
    padding: 8px;
}

.counter {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.counter span {
    display: inline-block;
    margin-right: 10px;
}

#msgError {
    color: #cc0000;
    margin-top: 20px;
    text-align: center;
}

#editTodo,
#editAlarm,
#editTag {
    /* padding: 0; */
    /* margin: 0; */
    font-size: 1rem;
    height: 1.2rem;
    width: 400px;
}

.edit-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dragging {
    opacity: 0.5;
    background-color: #f0f0f0;
}

li {
    transition: transform 0.2s ease-in-out;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

input:disabled  {
    background-color: #cecece;
    cursor: not-allowed;
}   